:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #9871F5;
  --color-primary-light: #916BEA;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #6842C2;
  --color-secundary: #04D361;
  --color-secundary-dark: #04BF58;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #D4C2FF;
  --color-text-title: #32264D;
  --color-text-complement: #9C98A6;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

  font-size: 60%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background)
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}


body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-base)
}

.container {
  width: 90vw;
  max-width: 700px;
}


@media(min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}



/* inputs */

.input-block {
  position: relative;
}

.input-block+.input-block {
  margin-top: 1.4rem;
}

.input-block label {
  font-size: 1.4rem;
}


.input-block input {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  border-bottom-width: 2px;
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;

}

.input-block input:focus{
  border-bottom:2px solid var(--color-primary-light);
}


/* textarea */

.textarea-block {
  position: relative;
}

.textarea-block + .textarea-block {
  margin-top: 1.4rem;
}

.textarea-block label {
  font-size: 1.4rem;
}


.textarea-block textarea {
  width: 100%;
  height: 16rem;
  min-height: 16rem;
  max-height: 24rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  border-bottom-width: 2px;
  outline: 0;
  resize: vertical;
  padding: 1.2rem 1.6rem;
  font: 1.6rem Archivo
}

.textarea-block textarea:focus{
  border-bottom: 2px solid var(--color-primary-light);
}



/* select */

.select-block {
  position: relative;
}

.select-block + .select-block {
  margin-top: 1.4rem;
}

.select-block label {
  font-size: 1.4rem;
}


.select-block select {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background) url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat;
  background-position:  calc(100% - 1.6rem) center;
  border: 1px solid var(--color-line-in-white);
  border-bottom-width: 2px;
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-block select:focus{
  border-bottom: 2px solid var(--color-primary-light);
}


